[Unit]
Description=Run radio-playlist-sync every 15 seconds

[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
AccuracySec=2s

[Install]
WantedBy=timers.target
